:root {
  --border: #000000;
}
  
.search-bar-container {
  height: 40px;
  display: flex;
  margin: 0 auto;
  max-width:100%;

  .search-bar-input {
    flex: 1;
    border: 1px solid var(--border);
    border-right: none;
    border-radius: 8px 0 0 8px;
    outline: none;
    padding: 0 10px;
    line-height: 1.5;
    font-size: 16px;
    height: 100%;
    box-sizing: border-box;
  }

  .search-button {
    flex: 0;
    height: 100%;
    border: 1px solid var(--border);
    background: white;
    color: black;
    border-radius: 0 8px 8px 0;
    padding: 0;
    cursor: pointer;
  }

  .fa-icon {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1;
    padding: 12px;
    color: black;
    overflow: hidden;
    cursor: pointer;
  }
}

@media screen and (max-width:768px) {
  .search-bar-container {
    width: 100%;
    .search-bar-input {
      font-size: 0.9rem;
    }
  }
}